API_URL="localhost"
NODE_ENV=development
DATABASE_HOST="localhost"
DATABASE_DIALECT="mysql"
MONGODB_URI='mongodb://localhost:27017/games'
REDIS_URL=redis://localhost:6379
DATABASE_USER="root"
DATABASE_PASSWORD="password"
DATABASE_NAME="games"
GOOGLE_EMAIL="nuriabonelquesada@gmail.com"
GOOGLE_CLIENT_ID="nope"
GOOGLE_CLIENT_SECRET="nope"
GOOGLE_REFRESH_TOKEN="nope"
JWT_SECRET=palabrasecreta
